/* DataViewer*/
#dv-mount,
.theme-light #dv-mount {
  background-color: var(--background-secondary-alt) !important;
  height: 69px !important;
}

#dv-main {
  border-top: 0 !important;
}

.theme-light #dv-main {
  border-top: 0 !important;
  color: var(--text-normal) !important;
}

.membersWrap-2h-GB4 .members-1998pB {
  height: calc(100% - 69px) !important !important;
}