/* СООБЩЕНИЯ */
/* Увеличиваем дату и время в сообщениях и разделителе,
   а также "Отредактировано" */
.timestampCozy-1HNQR2,
.timestamp-1E3uAL,
.divider-JfaTT5.hasContent-1cNJDh span,
.edited-DL9ECl,
.unreadPill-2HyYtt {
  font-size: 0.85rem;
}

/* Аватар и Никнейм */
.cozy-3raOZG .header-23xsNx {
  padding-left: 68px;
  margin-left: -68px;
}

/* Убираем уебанскую подсветку */
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode .message-2qnXI6:hover,
.message-2qnXI6.mentioned-xhSam7 {
  background-color: transparent !important;
}

.message-2qnXI6.groupStart-23k01U.cozyMessage-3V1Y8y.mentioned-xhSam7 .container-3FojY8:before,
.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7:before {
  display: none !important;
}

/* Подсветка результата поиска */
.backgroundFlash-24qWLN.groupStart-23k01U {
  margin: -16px 0 0;
}

/* Возвращаем нормальную подсветку пингам */
.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7 .container-3FojY8 .markup-2BOw-j {
  border-radius: 3px;
  background-color: var(--background-mentioned);
  border-left: 2px solid #faa61a;
  padding-left: 3px
}

.mouse-mode .message-2qnXI6.mentioned-xhSam7 .container-3FojY8:hover .markup-2BOw-j {
  background-color: var(--background-mentioned);
}

/* Возвращаем разделители сообщений */
/* Отступы В ТЕКСТЕ */
.message-2qnXI6.cozyMessage-3V1Y8y .container-3FojY8 {
  padding: 0 !important;
  margin: 0 8px 0 68px !important;
}

/* Отступы с Индикатором о непрочитанном сообщении В ТЕКСТЕ */
.isUnread-3Ef-o9+.message-2qnXI6.cozyMessage-3V1Y8y:not(.groupStart-23k01U) .container-3FojY8 {
  padding: 15px 0 0 0 !important;
}

/* Отступы В НАЧАЛЕ */
.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8 {
  padding: 15px 0 0 52px !important;
  margin: 15px 8px 0 16px !important;
  border-top: thin solid var(--background-modifier-accent);
}

/* Позиция разделителя */
.divider-3_HH5L {
  margin: 4px 8px 4px 16px;
}

/* Отступы с Индикатором даты */
.divider-JfaTT5+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8 {
  margin: 0 8px 0 16px !important;
  border-top: thin solid transparent;
}

/* Вид Разделителя с Индикатором даты */
.hasContent-1_DUdQ {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  top: 7px !important;
}

/* Вид Разделителя с Индикатором о непрочитанном сообщении */
.isUnread-3Ef-o9 {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  top: 7px !important;
}

/* Возвращаем прежний вид Индикатору о непрочитанном сообщении */
.unreadPill-2HyYtt {
  top: 0;
  right: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 0;
  color: #f04747;
  background-color: var(--background-primary);
  position: relative;
  font-weight: 600;
}

/* Скрываем Индикатор о непрочитанном сообщении рядом с Индикатором даты */
.divider-JfaTT5.hasContent-1_DUdQ.isUnread-3Ef-o9 .unreadPill-2HyYtt,
.unreadPillCap-3_K2q2 {
  display: none;
}

/* Fix Разделителя для первого сообщения НА КАНАЛЕ/СЕРВЕРЕ */
.welcomeMessage-ULm0mo+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8,
.default-1mVZrv+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8 {
  border-top: none;
  margin: 0 8px 0 16px !important;
}

/* Embed Content */
.container-1ov-mD {
  padding: 0 30px 0 0;
  margin: 0;
  grid-row-gap: 0;
}

.embedWrapper-lXpS3L {
  margin: 3px 0;
}

.embedWrapper-lXpS3L .embedWrapper-lXpS3L {
  margin: 0;
}

.reactions-12N0jA {
  margin: 0;
  padding: 0;
}

/* ЗАБЛОКИРОВАННЫЕ СООБЩЕНИЯ */
/* Скрываем заблокированные сообщения */
.group-spacing-24 .groupStart-23k01U,
.group-spacing-16 .groupStart-23k01U,
.group-spacing-8 .groupStart-23k01U,
.group-spacing-4 .groupStart-23k01U,
.group-spacing-0 .groupStart-23k01U {
  margin-top: 0;
}

.group-spacing-24 .groupStart-23k01U .container-3FojY8,
.group-spacing-16 .groupStart-23k01U .container-3FojY8,
.group-spacing-8 .groupStart-23k01U .container-3FojY8,
.group-spacing-4 .groupStart-23k01U .container-3FojY8,
.group-spacing-0 .groupStart-23k01U .container-3FojY8 {
  padding: 0;
  min-height: auto;
  overflow: visible;
}

.blockedSystemMessage-2Rk1ek {
  margin: 15px 8px -10px 16px;
  padding: 5px 0 0 51px;
  z-index: 3;
  border-top: thin solid var(--background-modifier-accent);
}

.blockedSystemMessage-2Rk1ek .iconContainer-3GkGRf {
  left: 0;
  right: 0;
}

.expanded-13sWhZ {
  background-color: transparent;
}

.welcomeMessage-ULm0mo+.cozy-3raOZG.groupStart-23k01U .blockedSystemMessage-2Rk1ek,
.default-1mVZrv+.cozy-3raOZG.groupStart-23k01U .blockedSystemMessage-2Rk1ek,
.divider-3_HH5L+.groupStart-23k01U .blockedSystemMessage-2Rk1ek,
.divider-3_HH5L+.cozy-3raOZG .blockedSystemMessage-2Rk1ek {
  border-top: none;
  margin: 0 8px -10px 16px !important;
}

/* КНОПКИ */
/* Скрываем лишнее дерьмо и кнопки */
.buttonContainer-DHceWr .emojiButton-jE9tXC,
.buttonContainer-DHceWr [aria-label="More"],
.message-2qnXI6.cozyMessage-3V1Y8y .timestampVisibleOnHover-2bQeI4,
.buttonContainer-DHceWr .emojiSeparator-10VgEJ {
  display: none;
}

/* Позиция контейнера В ТЕКСТЕ */
.message-2qnXI6.cozyMessage-3V1Y8y .container-3npvBV {
  top: -4px !important;
  right: 0px !important;
  padding: 0 !important;
}

/* Позиция контейнера В НАЧАЛЕ */
.message-2qnXI6.cozyMessage-3V1Y8y .isHeader-2dII4U {
  top: 47px !important;
}

/* Позиция контейнера В ТЕКСТЕ С ПИНГОМ */
.isUnread-3Ef-o9+.message-2qnXI6.cozyMessage-3V1Y8y:not(.groupStart-23k01U) .container-3npvBV {
  top: 11px !important;
}

/* Позиция контейнера В НАЧАЛЕ С ДАТОЙ */
.divider-JfaTT5+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3npvBV {
  top: 32px !important;
}

/* Позиция контейнера с первым сообщением НА КАНАЛЕ/СЕРВЕРЕ */
.welcomeMessage-ULm0mo+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .isHeader-2dII4U,
.default-1mVZrv+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .isHeader-2dII4U {
  top: 32px !important;
}

/* System Messages */
.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U.systemMessage-1I9LCe .container-3npvBV {
  top: 27px !important;
}

.welcomeMessage-ULm0mo+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U.systemMessage-1I9LCe .container-3npvBV,
.default-1mVZrv+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U.systemMessage-1I9LCe .container-3npvBV,
.divider-JfaTT5+.message-2qnXI6.cozyMessage-3V1Y8y.systemMessage-1I9LCe .container-3npvBV {
  top: 12px !important;
}

/* Возвращаем прежний вид */
.message-2qnXI6.cozyMessage-3V1Y8y .wrapper-2aW0bm {
  background-color: transparent !important;
  box-shadow: none !important;
  height: auto;
}

.message-2qnXI6.cozyMessage-3V1Y8y .button-1ZiXG9:hover {
  background-color: transparent;
}

.message-2qnXI6.cozyMessage-3V1Y8y .markupRtl-3M0hmN {
  padding-right: 30px;
}

/* Реакции */
.reactions-12N0jA {
  margin: 3px 0 0;
}

.reaction-1hd86g {
  border-radius: 2px;
  margin-right: 3px;
  margin-bottom: 3px;
}

/* Кнопка рядом с реакциями */
.reactions-12N0jA .reactionBtn-3N03Zj {
  padding: 0 7px;
}

/* TEXT FORM AREA */
.form-2fGMdU {
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--channeltextarea-background);
  margin-top: -8px !important;
}

.channelTextArea-rNsIhG {
  padding-top: 0 !important;
  border-radius: 0;
  background-color: var(--channeltextarea-background);
  margin-bottom: 18px;
  border-top: 0 !important;
}

.scrollableContainer-2NUZem {
  border-radius: 0;
}

.attachWrapper-2TRKBi {
  border-right: 0;
  padding-right: 6px;
}

.form-2fGMdU:before {
  display: none;
}

/* JUMPBAR POPUP */
.barBase-39XTcM {
  left: 16px;
  right: 16px;
  padding: 0 13px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .24);
}

.newMessagesBar-mujexs {
  top: 8px;
}

.jumpToPresentBar-9P20AM {
  bottom: 16px;
}

/* SCROLLBARS */
.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-thumb,
.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track,
.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track-piece {
  visibility: hidden;
}

.scroller-2FKFPG.messages-3amgkR:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scroller-2FKFPG::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: rgba(32, 34, 37, .6);
}

.scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-2FKFPG::-webkit-scrollbar-track {
  border: 2px solid transparent;
  border-radius: 4px;
}