/*---------------------------------------------------------------------*/
/*----------------------------- MESSAGES ------------------------------*/
/*---------------------------------------------------------------------*/
/* Messages Spacing */
.messages-3amgkR {
  padding-left: 8px;
}

.cozy-3raOZG.wrapper-2a6GCs {
  margin-left: 8px;
  margin-right: 8px;
}

/* Top Border */
.groupStart-23k01U {
  margin-left: 8px;
  margin-right: 8px;
  border-top: thin solid var(--background-modifier-accent);
}

/* Remove Top Border IF */
/* with Data/Unread*/
.divider-JfaTT5+.groupStart-23k01U,
.divider-JfaTT5+.groupStart-23k01U .groupStart-23k01U {
  border-top: thin solid transparent;
}

/* with welcome/default message */
#messagesNavigationDescription+.hasDivider-20M1le {
  border-bottom: thin solid transparent;
  padding-bottom: 0;
}

/* Messages Spacing 24-16-8 only */
.group-spacing-24 .groupStart-23k01U {
  margin-top: 12px;
  padding-top: 12px;
}

.group-spacing-16 .groupStart-23k01U {
  margin-top: 8px;
  padding-top: 8px;
}

.group-spacing-8 .groupStart-23k01U {
  margin-top: 4px;
  padding-top: 4px;
}

.group-spacing-24 .scrollerSpacer-1Rp0XE {
  height: 12px;
}

.group-spacing-16 .scrollerSpacer-1Rp0XE {
  height: 8px;
}

.group-spacing-8 .scrollerSpacer-1Rp0XE {
  height: 4px;
}

/* Messages Padding */
.cozy-3raOZG {
  padding-left: 61px !important;
}

.cozy-3raOZG .contents-2mQqc9 {
  padding-left: 51px !important;
  margin-left: -51px !important;
  position: relative;
}

.cozy-3raOZG .messageContent-2qWWxC,
.cozy-3raOZG .header-23xsNx {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.avatar-1BDn8e {
  top: 0 !important;
  left: 0 !important;
}

/* backgroundFlash */
/* Remove messages backgroundFlash on hover */
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode .message-2qnXI6:hover,
.message-2qnXI6.mentioned-xhSam7 {
  background-color: transparent !important;
}

/* Search & Pings backgroundFlash */
.backgroundFlash-24qWLN.groupStart-23k01U {
  margin: 0 !important;
  border-top: none !important;
}

/* Scale "Date", "Edited" & Date/Unread Separators font-size */
.cozy-3raOZG .timestamp-3ZCmNB,
.timestamp-1E3uAL,
.divider-JfaTT5.hasContent-1cNJDh span,
.edited-3sfAzf,
.unreadPill-2HyYtt {
  font-size: 0.85rem;
}

/* Mentions */
/* Remove new style */
.message-2qnXI6.groupStart-23k01U.cozyMessage-3V1Y8y.mentioned-xhSam7 .container-3FojY8:before,
.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7:before {
  display: none !important;
}

/* Bring back old style */
.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7 .markup-2BOw-j {
  border-radius: 3px;
  background-color: var(--background-mentioned);
  border-left: 2px solid #faa61a;
  padding-left: 3px !important;
}

.mouse-mode .message-2qnXI6.mentioned-xhSam7:hover .markup-2BOw-j {
  background-color: var(--background-mentioned);
}

/*---------------------------------------------------------------------*/
/*--------------------------- SEPARATORS ------------------------------*/
/*---------------------------------------------------------------------*/
/* Unread Separator Spacing beforeGroup 24-16-8 only */
.group-spacing-24 .beforeGroup-1rH1F0.isUnread-3Ef-o9,
.group-spacing-16 .beforeGroup-1rH1F0.isUnread-3Ef-o9,
.group-spacing-8 .beforeGroup-1rH1F0.isUnread-3Ef-o9 {
  margin: -1px 8px 0;
}

/* Data Separator Spacing 24-16-8 only */
.group-spacing-24 .divider-3_HH5L.hasContent-1_DUdQ {
  margin: 12px 8px -12px;
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
  margin: 8px 8px -8px;
}

.group-spacing-8 .divider-3_HH5L.hasContent-1_DUdQ {
  margin: 4px 8px -4px;
}

/* Unread Separator Spacing in Text */
.divider-3_HH5L.isUnread-3Ef-o9:not(.hasContent-1cNJDh):not(.beforeGroup-1rH1F0) {
  margin: 4px 8px;
}

/* Unread Separator Style */
.unreadPill-2HyYtt {
  top: 0;
  right: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 0;
  color: #f04747;
  background-color: var(--background-primary);
  position: relative;
  font-weight: 600;
}

/* Hide with Date Separator */
.divider-JfaTT5.hasContent-1_DUdQ.isUnread-3Ef-o9 .unreadPill-2HyYtt {
  display: none;
}

/* Hide shit */
.unreadPillCap-3_K2q2 {
  display: none;
}

/* Welcome/Default Separators */
.default-1mVZrv {
  margin-left: 8px;
  margin-right: 8px;
}

/* Welcome/Default message with Unread */
.welcomeMessage-ULm0mo+.divider-JfaTT5.isUnread-3Ef-o9,
.default-1mVZrv+.divider-JfaTT5.isUnread-3Ef-o9 {
  top: 0 !important;
}

/*---------------------------------------------------------------------*/
/*---------------------------- BUTTONS --------------------------------*/
/*---------------------------------------------------------------------*/
/* Hide shit */
.buttonContainer-DHceWr .emojiButton-jE9tXC,
.buttonContainer-DHceWr [aria-label="More"],
.message-2qnXI6.cozyMessage-3V1Y8y .timestampVisibleOnHover-2bQeI4,
.buttonContainer-DHceWr .emojiSeparator-10VgEJ {
  display: none;
}

/* Position in Text */
.message-2qnXI6.cozyMessage-3V1Y8y .container-3npvBV {
  top: 0 !important;
  right: 0 !important;
  padding: 0 !important;
}

/* Position in Header */
.message-2qnXI6.cozyMessage-3V1Y8y .isHeader-2dII4U {
  top: 32px !important;
}

/* Remove shit */
.message-2qnXI6.cozyMessage-3V1Y8y .wrapper-2aW0bm {
  background-color: transparent !important;
  box-shadow: none !important;
  height: auto;
}

.message-2qnXI6.cozyMessage-3V1Y8y .button-1ZiXG9:hover {
  background-color: transparent;
}

.message-2qnXI6.cozyMessage-3V1Y8y .button-1ZiXG9 {
  padding: 0;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/* Embed Content */
.container-1ov-mD {
  padding: 0;
  margin: 0;
  grid-row-gap: 0;
}

.embedWrapper-lXpS3L,
.spoilerContainer-331r0R {
  margin: 3px 0;
}

.embedWrapper-lXpS3L .embedWrapper-lXpS3L,
.spoilerContainer-331r0R .embedWrapper-lXpS3L {
  margin: 0;
}

.reactions-12N0jA {
  margin: 0;
  padding: 0;
}

/* Reactions */
/* */
.reactions-12N0jA {
  margin: 3px 0 0;
}

.reaction-1hd86g {
  margin-right: 3px;
  margin-bottom: 3px;
}

/* "Add reactions" button */
.reactions-12N0jA .reactionBtn-3N03Zj {
  padding: 0 7px;
}

/*---------------------------------------------------------------------*/
/*------------------------- TEXT FORM AREA ----------------------------*/
/*---------------------------------------------------------------------*/
.form-2fGMdU {
  background-color: var(--channeltextarea-background);
  margin-top: 0;
}

.channelTextArea-rNsIhG {
  border-radius: 0;
  background-color: var(--channeltextarea-background);
  border-bottom: 1px solid var(--background-modifier-accent);
}

.channelTextArea-rNsIhG .scrollableContainer-2NUZem {
  border-radius: 0;
  margin-right: -14px;
}

.channelTextArea-rNsIhG .inner-MADQqc {
  margin-right: 4px;
}

.attachWrapper-2TRKBi {
  border-right: 0;
}

.attachButton-2WznTc {
  padding: 8px 9px 8px 5px;
}

.attachButton-2dnuIu {
  margin-left: 0;
}

.attachButtonInner-PQjIyk {
  height: 27px;
}

.attachButton-2WznTc svg {
  width: 27px;
  height: 27px;
}

.webkit-HjD9Er .buttons-3JBrkn {
  margin-right: -4px;
}

.placeholder-37qJjk,
.slateTextArea-1Mkdgw {
  margin-left: 9px;
}

.sansAttachButton-td2irx {
  padding-left: 0;
}

.textAreaWithoutAttachmentButton-qiaiTB {
  padding-left: 6px;
}

.form-2fGMdU:before {
  display: none;
}

/* Account View Area */
.container-3baos1 {
  height: 68px;
}

/* "You must be a member for at least 10 minutes..." */
.wrapper-39oAo3 {
  border-radius: 0;
  background-color: var(--channeltextarea-background);
  border-bottom: 1px solid var(--background-modifier-accent);
  height: 12px;
}

.content-c_0cLD {
  margin-left: 8px;
}

.countdown-1saXFt {
  margin-right: 8px;
}

.base-gE7OpD .slowModeIcon-1BPDC_ {
  margin-left: 6px;
  margin-right: 6px;
}

/*---------------------------------------------------------------------*/
/*-------------------------- JUMPBAR POPUP ----------------------------*/
/*---------------------------------------------------------------------*/
.da-barBase {
  left: 16px;
  right: 16px;
  padding: 0 5px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .24);
}

.da-newMessagesBar {
  top: 5px;
}

.da-jumpToPresentBar {
  bottom: 5px;
}

/*---------------------------------------------------------------------*/
/*---------------------------- SCROLLBARS -----------------------------*/
/*---------------------------------------------------------------------*/
.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track,
.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track-piece {
  visibility: hidden !important;
}

.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-thumb {
  background-color: rgba(32, 34, 37, .6) !important;
}

.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-thumb,
.scroller-2FKFPG.messages-3amgkR::-webkit-scrollbar-track {
  border: 2px solid transparent !important;
  border-radius: 4px !important;
}

/*---------------------------------------------------------------------*/
/*----------------------------- PLUGINS -------------------------------*/
/*---------------------------------------------------------------------*/
/* DataViewer*/
#dv-mount,
.theme-light #dv-mount {
  background-color: var(--background-secondary-alt);
  height: 69px;
}

#dv-main {
  border-top: 0;
}

.theme-light #dv-main {
  border-top: 0;
  color: var(--text-normal);
}

.membersWrap-2h-GB4 .members-1998pB {
  height: calc(100% - 69px) !important;
}