/* SendButton Plugin */
.layer-v9HyYc .emojiPicker-3m1S-j {
  position: relative;
  margin-right: -55px;
}

.layer-v9HyYc .translate-2dAEQ6 .emojiPicker-3m1S-j {
  margin-right: 0;
}

.send-button {
  width: 40px !important;
  display: flex !important;
  height: 44px !important;
  position: sticky !important;
  top: 0 !important;
  right: 8px !important;
}

.webkit-HjD9Er .buttons-3JBrkn {
  margin-right: -6px !important;
}

.send-button img {
  height: 30px;
  width: 30px;
}

.emojiButton-3uL3Aw {
  margin-right: 20px !important;
}

.channelTextAreaDisabled-8rmlrp .send-button {
  display: none !important;
}