/* SendButton Plugin */
.send-button {
  width: 40px !important;
  display: flex !important;
  height: 44px !important;
  position: sticky !important;
  top: 0 !important;
  right: 8px !important;
}

.da-emojiButton {
  margin-right: 15px !important;
}

.da-channelTextAreaDisabled .send-button {
  display: none !important;
}