/*---------------------------------------------------------------------*/
/*------------------------------- EMOJI -------------------------------*/
/*---------------------------------------------------------------------*/
/* Обычная эмоция в сообшениях, статусе и в Emoji Picker */
.emoji.jumboable,
.customStatus-1bh2V9 .customStatusEmoji-7MXCgv.customStatusSoloEmoji-XOvnMc,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA,
.infoBar-U6oBFk .infoBarEmoji-3Ab8rZ,
.infoBar-U6oBFk .infoBarTextWrapper-2bdtbI+.iconSizeSmaller-2whVAO,
.emojiRow-zIc7ZX .emojiImage-1hZi2F {
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
}

/* Маленькая эмоция в сообшениях, статусе и в реакциях */
.emoji:not(.jumboable):not(.customStatusSoloEmoji-XOvnMc):not(.customStatusSoloEmoji-192Z_4):not(.activityEmoji-2GDGtF):not(.activityEmoji-1AR8K6):not(.emoji-1PSQtY):not(.customStatusEmoji-2NpCsS):not(.customStatusEmoji-1o3-7b):not(.emoji-MCvpgl),
.emoji-236_Ij,
.image-1ehFEp,
.emojiImage-1_XFkC {
  width: 1.8667rem;
  height: 1.8667rem;
  position: relative;
  vertical-align: middle;
  margin-top: -0.1rem;
  padding: 0 0 2px;
}

.messageContent-2qWWxC,
.repliedTextPreview-2NBljf,
.threadMessageAccessoryPreview-1uSsue {
  overflow: visible !important;
}

/* Выравнивание в форме отправки/редактирования сообщения */
.markup-2BOw-j .emoji:not(.jumboable),
.textArea-12jD-V .emoji:not(.jumboable) {
  top: -9px !important;
  margin: -12px 0;
  padding: 2px 0 0px !important;
}

/* Выравнивание в пользовательском статусе */
.customStatus-1bh2V9 .customStatusEmoji-7MXCgv:not(:last-child) {
  margin-top: -0.5rem !important;
  padding: 0 !important;
}

/* Выравнивание в реакции */
.reactionInner-15NvIl {
  padding: 0 3px !important;
}

.reactionInner-15NvIl .emoji {
  margin: 3px 0 !important;
  padding: 0 !important;
}

/* Выравнивание в контекстном меню */
.image-1ehFEp {
  margin-top: 2px !important;
  height: auto !important;
}

/* Выравнивание в списке реакций */
.sidebar-1-SQro {
  width: auto;
}

.reactors-Blmlhw {
  width: 100%;
}

.emoji-236_Ij {
  margin: 5px 7px 5px 0 !important;
  padding: 0;
}

.count-1vzEyg {
  min-width: 15px;
  text-align: center;
}

/*---------------------------------------------------------------------*/
/*------------------------------- ZOOM --------------------------------*/
/*---------------------------------------------------------------------*/
/* Зум маленькой эмоции (в тексте, реакции и в статусе)  */
.emoji:not(.jumboable):not(.customStatusSoloEmoji-XOvnMc):not(.customStatusSoloEmoji-192Z_4):not(.activityEmoji-2GDGtF):not(.activityEmoji-1AR8K6):not(.emoji-1PSQtY):not(.customStatusEmoji-2NpCsS):not(.customStatusEmoji-1o3-7b):not(.emoji-MCvpgl):hover {
  *transform: scale(1.60699);
  *transition: 0.5s;
}

/* Fix зума в реакции */
.reactionInner-rRPZdY:hover .emoji {
  *transform: scale(1.60699) translate(4px, 2px) !important;
  *transition: 0.5s;
}

/* Fix зума в статусе */
.customStatusEmoji-7MXCgv:not(:last-child):hover {
  *transform: scale(1.60699) translate(0, 4px) !important;
}

/* Fix зума в списке друзей */
.peopleListItem-2nzedh .text-37NqbO,
.peopleListItem-2nzedh .userInfo-2zN2z8 {
  *overflow: visible;
}

/*---------------------------------------------------------------------*/
/*-------------------------- EMOJI PICKER  ----------------------------*/
/*---------------------------------------------------------------------*/
/* Emoji Picker InfoBar Fix */
.emoji-AAbs8r {
  height: 32px;
  width: 32px;
}

/* Увеличиваем высоту Emoji Picker */
/* In message Popup */
.emojiPicker-3PwZFl {
  height: 440px;
}

/* Normal */
.positionContainer-3unAXC {
  height: 475px;
}

/*---------------------------------------------------------------------*/
/*------------------------------ SETTING ------------------------------*/
/*---------------------------------------------------------------------*/
/* Emoji Delete button */
.emojiRow-zIc7ZX .emojiRemove-1k6MlJ {
  top: 20px;
  right: 0;
}

.emojiUploader-1f0pVx .avatar-2Hubm8 {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.emojiUploader-1f0pVx .emojiRowText-2j4TNM {
  top: 11px;
  left: 50px;
}