/* BetterImagePopups Plugin */
.bip-container .bip-scroller {
  display: block !important;
  margin-bottom: 0 !important;
  max-height: 100vh !important;
  max-width: 100vw !important;
  overflow: auto;
}

.bip-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 10000;
}

.bip-container .imageWrapper-2p5ogY {
  border-radius: 0;
}

.bip-container .bip-center {
  max-height: calc(100vh - 50px) !important;
  max-width: calc(100vw - 50px) !important;
  cursor: zoom-in;
}

.bip-container.bip-scaling {
  cursor: zoom-out;
}

.imageWrapper-2p5ogY.scroller-2FKFPG::-webkit-scrollbar {
  display: none;
}

.layerContainer-yqaFcK {
  z-index: 10002;
  /* context menu fix */
}

.bip-container .scrollerWrap-2lJEkd {
  min-height: unset;
  min-width: unset;
  flex: unset;
  height: auto;
  /* reset discord default styles */
}

.embedGalleryImageElement-3Vxxsp {
  object-fit: contain;
  /* twitter images */
}

.titleBar-AC4pGV {
  z-index: 1000;
  /* title bar fix */
}

.bip-actions,
.bip-description,
.bip-controls,
.imageWrapper-2p5ogY+.downloadLink-1ywL9o,
.bip-container.bip-scaling .thumbQuicksave {
  display: none;
  /* hide shit */
}