/* СООБЩЕНИЯ */
/* Увеличиваем дату и время в сообщениях и разделителе,
   а также "Отредактировано" */
.timestampCozy-1HNQR2,
.divider-JfaTT5.hasContent-1cNJDh span,
.edited-DL9ECl,
.unreadPill-2HyYtt {
  font-size: 0.85rem;
}

/* Убираем уебанскую подсветку */
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode .message-2qnXI6:hover,
.message-2qnXI6.mentioned-xhSam7 {
  background-color: transparent !important;
}

.message-2qnXI6.groupStart-23k01U.cozyMessage-3V1Y8y.mentioned-xhSam7 .container-3FojY8:before,
.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7:before {
  display: none !important;
}

/* Возвращаем нормальную подсветку пингам */
.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7 .container-3FojY8 .markup-2BOw-j {
  border-radius: 3px;
  background-color: var(--background-mentioned);
  border-left: 2px solid #faa61a;
  padding-left: 3px
}

.mouse-mode .message-2qnXI6.mentioned-xhSam7 .container-3FojY8:hover .markup-2BOw-j {
  background-color: var(--background-mentioned);
}

/* Возвращаем разделители сообщений */
/* Отступы В ТЕКСТЕ */
.message-2qnXI6.cozyMessage-3V1Y8y .container-3FojY8 {
  padding: 0 !important;
  margin: 0 13px 0 67px !important;
}

/* Отступы с Индикатором о непрочитанном сообщении В ТЕКСТЕ */
.isUnread-3Ef-o9+.message-2qnXI6.cozyMessage-3V1Y8y:not(.groupStart-23k01U) .container-3FojY8 {
  padding: 15px 0 0 0 !important;
}

/* Отступы В НАЧАЛЕ */
.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8 {
  padding: 15px 0 0 52px !important;
  margin: 15px 13px 0 15px !important;
  border-top: thin solid var(--background-modifier-accent);
}

/* Отступы с Индикатором даты */
.divider-JfaTT5+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8 {
  margin: 0 13px 0 15px !important;
  border-top: thin solid transparent;
}

/* Вид Разделителя с Индикатором даты */
.hasContent-1_DUdQ {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  top: 7px !important;
}

/* Вид Разделителя с Индикатором о непрочитанном сообщении */
.isUnread-3Ef-o9 {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  top: 7px !important;
}

/* Возвращаем прежний вид Индикатору о непрочитанном сообщении */
.unreadPill-2HyYtt {
  top: 0;
  right: 0;
  left: 0;
  padding: 0 5px;
  border-radius: 0;
  color: #f04747;
  background-color: var(--background-primary);
  position: relative;
  font-weight: 600;
}

/* Скрываем Индикатор о непрочитанном сообщении рядом с Индикатором даты */
.divider-JfaTT5.hasContent-1_DUdQ.isUnread-3Ef-o9 .unreadPill-2HyYtt,
.unreadPillCap-3_K2q2 {
  display: none;
}

/* Fix Разделителя для первого сообщения НА КАНАЛЕ/СЕРВЕРЕ */
.welcomeMessage-ULm0mo+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8,
.default-1mVZrv+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3FojY8 {
  border-top: none;
  margin: 0 13px 0 15px !important;
}

/* Embed Content */
.container-1ov-mD {
  padding-top: .45rem !important;
  padding-bottom: .15rem !important;
  padding-right: 30px;
}

/* ЗАБЛОКИРОВАННЫЕ СООБЩЕНИЯ */
/* Скрываем заблокированные сообщения */
.group-spacing-24 .groupStart-23k01U,
.group-spacing-16 .groupStart-23k01U,
.group-spacing-8 .groupStart-23k01U,
.group-spacing-4 .groupStart-23k01U,
.group-spacing-0 .groupStart-23k01U {
  margin-top: 0;
}

.group-spacing-24 .groupStart-23k01U .container-3FojY8,
.group-spacing-16 .groupStart-23k01U .container-3FojY8,
.group-spacing-8 .groupStart-23k01U .container-3FojY8,
.group-spacing-4 .groupStart-23k01U .container-3FojY8,
.group-spacing-0 .groupStart-23k01U .container-3FojY8 {
  padding: 0;
  min-height: auto;
  overflow: visible;
}

.blockedSystemMessage-2Rk1ek {
  height: 1px;
  top: 16px;
  margin: 0px 13px 0px 15px;
  background-color: #222;
  padding: 0;
}

.blockedSystemMessage-2Rk1ek .iconContainer-3GkGRf,
.blockedSystemMessage-2Rk1ek .content-2M3n_H,
.groupStart-23k01U .isUnread-3Ef-o9 {
  display: none;
}

/* КНОПКИ */
/* Скрываем лишнее дерьмо и кнопки */
.buttonContainer-DHceWr .emojiButton-jE9tXC,
.buttonContainer-DHceWr [aria-label="More"],
.message-2qnXI6.cozyMessage-3V1Y8y .timestampVisibleOnHover-2bQeI4,
.buttonContainer-DHceWr .emojiSeparator-10VgEJ {
  display: none;
}

/* Позиция контейнера В ТЕКСТЕ */
.message-2qnXI6.cozyMessage-3V1Y8y .container-3npvBV {
  top: -4px !important;
  right: 9px !important;
  padding: 0 !important;
}

/* Позиция контейнера В НАЧАЛЕ */
.message-2qnXI6.cozyMessage-3V1Y8y .isHeader-2dII4U {
  top: 47px !important;
}

/* Позиция контейнера В ТЕКСТЕ С ПИНГОМ */
.isUnread-3Ef-o9+.message-2qnXI6.cozyMessage-3V1Y8y:not(.groupStart-23k01U) .container-3npvBV {
  top: 11px !important;
}

/* Позиция контейнера В НАЧАЛЕ С ДАТОЙ */
.divider-JfaTT5+.message-2qnXI6.cozyMessage-3V1Y8y.groupStart-23k01U .container-3npvBV {
  top: 32px !important;
}

/* Возвращаем прежний вид */
.message-2qnXI6.cozyMessage-3V1Y8y .wrapper-2aW0bm {
  background-color: transparent !important;
  box-shadow: none !important;
  height: auto;
}

.message-2qnXI6.cozyMessage-3V1Y8y .button-1ZiXG9:hover {
  background-color: transparent;
}

.message-2qnXI6.cozyMessage-3V1Y8y .markupRtl-3M0hmN {
  padding-right: 30px;
}

/* Реакции */
.reactions-12N0jA {
  margin: 3px 0 0;
}

/* Кнопка рядом с реакциями */
.reactions-12N0jA .reactionBtn-3N03Zj {
  padding: 0 7px;
}
